<!-- <h1>{{pageTitle}}</h1> -->

<h1 class="text-center m-5">La Guyane Française, un pays au mille visage !</h1>

<p class="text-center slogan m-3 "> Tout Koulèr Mélanjé est une application qui fait référence à la diversité du territoire guyanais. C'est un pays pluriculturel où se mélange différentes communautés (des Amérindiens, des Hmongs, des Brésiliens, des Chinois, des Guyanais, des Businengés…). <br>
    Ce pays méconnu et ayant parfois une mauvaise réputation se révèle comme une terre accueillante offrant une expérience exceptionnelle et inoubliable. <br>
    Tout Koulèr Mélanjé aura pour objectif de vous faire découvrir ou redécouvrir la richesse guyanaise à travers différentes activités.</p>

<div class="m-4">
    <p class="text-center fs-5 fw-bold activity-list"><a routerLink="/activities" routerLinkActive="active" class="link-title"> "Cliquez-ici pour voir les activités et les restaurants"</a>
    </p>
</div>

<div class="container">
            
    <div class="row fw-semibold text-center m-5 justify-content-center">

        <div class="card col-12 col-md-4 m-3 p-3">
            <img src="assets/images/accueilImage/forest.jpg" class="card-img-top" alt="Forêt Amazonienne">
            <div class="card-body">
                <h2>Activités Naturelles</h2>
                <p class="card-text"><a href="natural.html" class="link">Envie de découvrir une faune exceptionnelle, une biodiversité incroyable, des plages à perte de vue, des criques secrètes, des couchés de soleil flamboyants...</a></p>
            </div>
        </div>
        <div class="card col-12 col-md-4 m-3 p-3 ">
            <img src="assets/images/accueilImage/house.jpg" class="card-img-top" alt="Une maison créole">
            <div class="card-body">
                <h2>Activités Culturelles</h2>
                <p class="card-text"><a href="cultural.html" class="link"></a>Envie d'apprendre et de découvrir les différentes communautés guyanaises, l'artisanat local, les coutumes du pays, d'échanger avec les habitants... </p>
            </div>
        </div>
        <div class="card col-12 col-md-4 m-3 p-3 ">
            <img src="assets/images/accueilImage/spices.jpg" class="card-img-top" alt="Du piment">
            <div class="card-body">
                <h2>Les marchés et Les restaurants</h2>
                <p class="card-text"><a href="restaurant.html" class="link">Envie de sentir les épices au marché de Cayenne, de goûter les différents plats familiaux tout en s'abandonnant à un petit verre de rhum "La Belle Cabresse"...</a></p>
            </div>
        </div>
    </div>

    <!-- <p class="text-center slogan "> Tout Koulèr Mélanjé est une application qui fait référence à la diversité du territoire guyanais. C'est un pays pluriculturel où se mélange différentes communautés (des Amérindiens, des Hmongs, des Brésiliens, des Chinois, des Guyanais, des Businengés…). <br>
        Ce pays méconnu et ayant parfois une mauvaise réputation se révèle comme une terre accueillante offrant une expérience exceptionnelle et inoubliable. <br>
        Tout Koulèr Mélanjé aura pour objectif de vous faire découvrir ou redécouvrir la richesse guyanaise à travers différentes activités.</p> -->
</div>