<h1>{{pageTitle}}</h1>

<div class="m-4">
    <p class="text-center fs-5"><a class="nav-link" routerLink="/activities" routerLinkActive="active" class="link-title"> Cliquez ici pour voir les prestations</a>
</div>

<div class="container">
            
    <div class="row fw-semibold text-center m-5 justify-content-center">

        <div class="card col-12 col-md-4 m-5 p-3">
            <img src="assets/images/accueilImage/forest.jpg" class="card-img-top" alt="Forêt Amazonienne">
            <div class="card-body">
                <h2>Activités Naturelles</h2>
                <p class="card-text"><a href="natural.html" class="link">Some quick example text to build on the card title and make up the bulk of the card's content.</a></p>
            </div>
        </div>
        <div class="card col-12 col-md-4 m-5 p-3 ">
            <img src="assets/images/accueilImage/house.jpg" class="card-img-top" alt="Une maison créole">
            <div class="card-body">
                <h2>Activités Culturelles</h2>
                <p class="card-text"><a href="cultural.html" class="link">Some quick example text to build on the card title and make up the bulk of the card's content.</a></p>
            </div>
        </div>
        <div class="card col-12 col-md-4 m-5 p-3 ">
            <img src="assets/images/accueilImage/spices.jpg" class="card-img-top" alt="Du piment">
            <div class="card-body">
                <h2>Les restaurants</h2>
                <p class="card-text"><a href="restaurant.html" class="link">Some quick example text to build on the card title and make up the bulk of the card's content.</a></p>
            </div>
        </div>
    </div>

    <p class="text-center slogan s">Un pays au mille visage ! Je vous invite à parcourir mon site .....Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, natus quam provident excepturi eaque, consectetur aliquid quia doloremque tenetur perspiciatis, libero ad ab quaerat odit. Amet eum quia error itaque.</p>
</div>