<p>navbar works!</p>

<header>
    <h1 class="title text-center ">
        {{pageTitle}}
    </h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid color">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center fs-3 text" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">
                    Accueil   
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about.html">
                    A propos    
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="lien-menu nav-link active" href="prestation.html">
                    Prestations     
                </a>
            </li> -->
            <li class="nav-item">
                <a class="lien-menu nav-link active" href="">
                    Carte           
                </a>
            </li>
        </ul>
    </div>

    <div>
            <a class="lien-menu nav-link active" href="form.html">
                <img src="assets/images/user.svg">                                
            </a>
    </div>
</div>
</nav>
</header>
