@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$title-font-stack: "Indie flower";
$item-font-stack: "Oswald";
$main-color: black;

h1, h2, span, .card-text {
    font-family: $item-font-stack, cursive;
}

.link-title{
    color: $main-color;
    text-decoration: none;
}

.link-title:hover{
    text-decoration: underline;
    color: lightslategray;
}