<!-- <p>activity-list works!</p> -->

<h1 class="text-center m-4">{{pageTitle}}</h1>

            <section class="m-5">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Filtrer</span>
                    <input type="text" class="form-control" [(ngModel)]="listFilter">
                </div>
            </section>

                
<section class="row justify-content-center fw-semibold text-center m-5">

                <div class="col-md-6" *ngFor="let activity of filteredActivities">

                    <div class="card m-1 fw-normal">
                        <img *ngIf="showImage"
                        [src]="activity.imageUrl"
                        [title]="activity.activityName"
                    >
                        <div class="card-body my-1">
                            <h2>{{activity.activityName}}</h2>
                            <p class="card-text">{{activity.description}}</p>

                        <div>
                            <p>{{activity.location}}</p>
                        </div>

                        <div>
                            <p><a href="" class="link-title">{{activity.link}}</a></p>
                        </div>

                            <a href=""><img src="assets/images/heart.svg"></a>
                        </div>
                        
                    </div>

                </div>
            
            </section>
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button class="btnColor" id="scrollUp">
                            <a href="#top"><img class="btn" src="assets/images/arrow-up.svg"/></a>
                        </button>
                    </div>
                </div>

                